services:

  gateway:
    image: gateway:user
    container_name: gateway
    build: 
      context: ./requirements/gateway
      args:
        DOMAIN_NAME: ${DOMAIN_NAME}
        ADMIN_NAME: ${ADMIN_NAME}
    ports:
      - "8080:8080"
      - "8443:443"
    depends_on:
      - users
      - auth_service
    env_file:
      - .env
    volumes:
      - ssl_certifs:/etc/nginx/ssl
    networks:
      - pong_app
    restart: always

  users:
    image: users:user
    container_name: users
    build: ./requirements/users
    expose: ["3000"]
    env_file:
      - .env
    networks:
      - pong_app
    restart: always

  auth_service:
    container_name: auth_service
    build: ./requirements/auth_service
    expose: ["3001"]
    env_file:
      - .env
    networks:
      - pong_app
    restart: always

  game:
    container_name: game
    build: ./requirements/game
    expose: ["3002"]
    env_file:
      - .env
    volumes:
      - ssl_certifs:/etc/ssl:ro
    depends_on:
      - gateway
    networks:
      - pong_app
    restart: always

  redis:
    image: redis:7-alpine
    container_name: redis
    expose: ["6379"]
    networks:
      - pong_app
    restart: always

networks:
  pong_app:
    name: pong_app

volumes:
  ssl_certifs: