@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-prim: #22A8AA;
	--color-sec: #E196BB;
	--color-accent: #CDC5F6;
	--color-light: #BDD2CA;
	--color-dark: #0C0F38;
	--color-other: #dd5b5b;
}


* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;

	display: flex;
	flex-direction: column;
}

.page {
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	min-height: 100%;
}

/* #region Header */
header {

	display: flex;
	align-items: center;
	justify-content: center;

	height: 8rem;

	background: radial-gradient(circle at bottom, var(--color-prim) 50%, var(--color-dark) 100%);
	font-size: 2em;
	font-family: "Geo";
	font-weight: 600;
	font-style: italic;
	color: white;
}

/* #endregion */

/* #region nav */
nav {

	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding: 1rem;
	background: linear-gradient(to right, var(--color-dark) 0%, var(--color-prim) 25% 75%, var(--color-dark) 100%);
}

nav a {
	font-style: normal;
	font-family: "Geo";
	font-size: 1.5rem;
	font-weight: 600;

	text-decoration: none;
	color: var(--color-light);
	opacity: 90%;
	/* filter: blur(0.8px); */
}

nav a:hover {
	text-decoration: underline;
	color: white;
	opacity: 100%;
	text-shadow: 3px -3px 10px var(--color-accent);
}

body:not(.loggedIn) #accountNavLink, body:not(.loggedIn) #logoutNavLink{
	display: none;
}


body.loggedIn #loginNavLink{
	display: none;
}

body.loggedIn #signupNavLink {
	display: none;
}

/* #endregion */

/* #region BODY */

/* #region home */

#homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 5rem;

	background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%);
}

#homePageSteleInfo {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 10fr;

	height: 50vh;
	width: 13vw;
	padding: 2rem;
	gap: 2rem;

	border-radius: 5%;
	border-bottom-right-radius: 15%;
	border: none;




	background: linear-gradient(to bottom, var(--color-dark) 15%, var(--color-prim));

	font-family: "Geo";
	color: var(--color-light);
}

#homePageSteleInfo:hover {
	outline: 1px solid var(--color-accent);
	box-shadow: 0px -15px 50px var(--color-accent);
	color: white;
}

#homePageSteleInfo h1 {
	text-align: center;
	grid-column: 1/3;
	grid-row: 1/2;
}

#homePageSteleInfo p {
	grid-row: 2/3;
	font-size: 0.9em;
}

#homePageSteleInfoText {
	grid-column: 1/2;
	grid-row: 2/3;
	text-align: left;
}

#homePageSteleInfoGlyphs {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: right;
}


/* #endregion */

/* #region game */
/* #endregion */

/* #region tournament */
/* #endregion */

#accountPage {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem;
	gap: 4rem;

	background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%);

	font-family: "Geo";
	color: white;
}

#accountPage h1 {
	font-size: 5rem;
}

#accountPage .accountBox {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;

	height: 50vh;
	max-height: 50vh;
	width: 50vw;
	max-width: 50vw;

	padding: 3rem;

	border-radius: 3rem;

	background: linear-gradient(to bottom, var(--color-dark) 15%, var(--color-prim));
}

#accountPage .accountBox:hover {
	outline: 1px solid var(--color-accent);
	box-shadow: 0px -15px 50px var(--color-accent);
}

#accountBoxInfo {
	grid-row: 1/3;
	grid-column: 1/2;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 4rem;

	font-size: xx-large;
	text-align: center;
}

#accountBoxProfilePic {
	grid-row: 1/2;
	grid-column: 2/3;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 1rem;

	overflow: hidden;
}

#accountBoxProfilePic img {

	max-width: 100%;
	max-height: 100%;
	width: 35%;
	height: 75%;
	object-fit: cover;
	object-position: center;

	border: solid 5px var(--color-accent);
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

#accountBoxFriendList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: auto;
	height: auto;

	grid-row: 2/3;
	grid-column: 2/3;

	gap: 1rem;

	text-align: center;

	border: solid 3px var(--color-light);
	border-radius: 5rem;
	/* box-shadow: 0px 0px 50px var(--color-accent); */
}

#accountFriendList {
	outline: solid 5px red;
}


/* #region login */

#loginPage {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 2rem;

	font-family: "Geo";
	font-size: 4rem;
	color: var(--color-accent);

	background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%);
}

#loginPage form {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 50vh;
	width: 13vw;
	padding: 2rem;
	gap: 2rem;

	border-radius: 5%;
	border-bottom-right-radius: 15%;
	border: none;

	background: linear-gradient(to bottom, var(--color-dark) 15%, var(--color-prim));

	font-size: xx-large;
	color: white;
	text-align: center;
}

#loginPage form input {
	font-family: "Geo";
	font-size: large;
	color: white;

	border: none;

	background-color: var(--color-prim);
	min-block-size: 1.5rem;
}

#loginPage form button {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 9%;
	max-height: 9%;
	width: 80%;
	max-width: 80%;

	padding: 2.5rem;
	margin-top: auto;
	border-radius: 15px;



	font-family: "Geo";
	font-size: larger;
	color: white;

	background: linear-gradient(to top, var(--color-dark) 15%, var(--color-prim));
}

/* #endregion */

/* #region signup */

#signupPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 2rem;

	font-family: "Geo";
	font-size: 3rem;
	color: white;

	background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%);
}

#signupPage form {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1rem;
	margin: 1rem;
}

/* #endregion */

/* #region logout */
#logoutPage {
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: "Geo";
	font-size: 5rem;
	color: var(--color-dark);
	background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%);
}

#logoutPage b {
	color: white;
}
/* #endregion */

/* #endregion BODY */

/* #region Footer */
footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background: var(--color-dark);

	padding: 1.5rem;

	color: var(--color-light);

}

footer ul a img {
	width: 1.3rem;
	height: 1.3rem;
	margin-left: 0.2rem;
}

/* #endregion */