@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-prim: #22A8AA;
	--color-sec: #E196BB;
	--color-accent: #CDC5F6;
	--color-light: #BDD2CA;
	--color-dark: #0C0F38;
	--color-other: #dd5b5b;
}

.page {
	@apply flex grow h-full;
}


/* #region header */

.headerLayout {
	@apply	flex items-center content-center justify-center
			h-32 w-full
			text-5xl text-white font-semibold italic font-geo;
}

/* #endregion header */

/* #region nav */

.navLayout {
	@apply flex flex-row justify-evenly
	h-20
	p-4
	font-geo
	text-3xl
	text-dark/40
	font-light
	outline-none
	;
}

.navLinkLayout {
	@apply hover:underline
	hover:text-dark/100
	focus-visible:underline
	focus-visible:text-dark/100
	focus-visible:outline-none
	transition-all
	duration-300
	ease-in
	;
}

body:not(.loggedIn) #accountNavLink, body:not(.loggedIn) #logoutNavLink{
	display: none;
}


body.loggedIn #loginNavLink{
	display: none;
}

body.loggedIn #signupNavLink {
	display: none;
}

/* #endregion nav */

/* #region BODY */

/* #region main */

.mainLayout{
	@apply flex grow flex-col
	h-[calc(100vh-8rem-5rem)]
	/* Ajouter du responsive */
}

/* #endregion main */

/* #region account */

.accountLayout {
	@apply flex flex-col place-items-center gap-16

	h-full
	p-8

	font-geo 
	;
}

.accountBoxLayout {
	display: grid;
	grid-template-columns: 12fr 1fr;
	
	@apply h-4/5 w-3/5

	rounded-3xl
	
	text-white	
	bg-dark bg-opacity-100
	;
}

.accountBoxTabLayout {
	@apply col-start-2 col-end-3
	flex flex-col place-items-center place-content-evenly
	h-full
	;
}

.accountBoxTabItems {
}

.myAccountTabLayout{
	@apply col-start-1 col-end-2;

	display:grid;
	grid-template-columns: 7fr 6fr 0.5fr;
	grid-template-rows: 1fr 1fr;
}

.accountBoxInfoLayout {
	@apply col-start-1 col-end-2 row-start-1 row-end-3
	
	relative

	flex grow flex-row items-center justify-center

	text-7xl
}

.accountBoxPicLayout {
	@apply col-start-2 col-end-3 row-start-1 row-end-2

	flex flex-col gap-6 justify-center items-center
}

.accountBoxStatsLayout {
	@apply col-start-2 col-end-3 row-start-2 row-end-3

	grid grid-rows-3 grid-cols-2
}

/* #endregion account */

/* #region game */
/* #endregion game */

/* #region home */

#homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 5rem;

	/* background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%); */
}

#homePageSteleInfo {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 10fr;

	height: 50vh;
	width: 13vw;
	padding: 2rem;
	gap: 2rem;

	border-radius: 5%;
	border-bottom-right-radius: 15%;
	border: none;




	background: linear-gradient(to bottom, var(--color-dark) 15%, var(--color-prim));

	font-family: "Geo";
	color: var(--color-light);
}

#homePageSteleInfo:hover {
	outline: 1px solid var(--color-accent);
	box-shadow: 0px -15px 50px var(--color-accent);
	color: white;
}

#homePageSteleInfo h1 {
	text-align: center;
	grid-column: 1/3;
	grid-row: 1/2;
}

#homePageSteleInfo p {
	grid-row: 2/3;
	font-size: 0.9em;
}

#homePageSteleInfoText {
	grid-column: 1/2;
	grid-row: 2/3;
	text-align: left;
}

#homePageSteleInfoGlyphs {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: right;
}

/* #endregion home */

/* #region login */

#loginPage {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 2rem;

	font-family: "Geo";
	font-size: 4rem;
	color: var(--color-accent);

}

#loginPage form {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 50vh;
	width: 13vw;
	padding: 2rem;
	gap: 2rem;

	border-radius: 5%;
	border-bottom-right-radius: 15%;
	border: none;

	background: linear-gradient(to bottom, var(--color-dark) 15%, var(--color-prim));

	font-size: xx-large;
	color: white;
	text-align: center;
}

#loginPage form input {
	font-family: "Geo";
	font-size: large;
	color: white;

	border: none;

	background-color: var(--color-prim);
	min-block-size: 1.5rem;
}

#loginButton {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 9%;
	max-height: 9%;
	width: 80%;
	max-width: 80%;

	padding: 2.5rem;
	margin-top: auto;
	border-radius: 15px;



	font-family: "Geo";
	font-size: larger;
	color: white;

	background: linear-gradient(to top, var(--color-dark) 15%, var(--color-prim));
}

/* #endregion login */

/* #region logout */

.logoutLayout {
	@apply page 
	flex items-center justify-center
	font-geo
	text-[14rem]
}

/* #endregion logout */

/* #region signup */

#signupPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 2rem;

	font-family: "Geo";
	font-size: 3rem;
	color: var(--color-dark);
}

#signupPage form {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1rem;
	margin: 1rem;
}

#signupPage form input {
	color: black;
}

/* #endregion signup */

/* #region tournament */
/* #endregion tournament */

/* #endregion BODY */

/* #region footer */

.footerLayout {
	@apply flex flex-col items-center justify-center
	p-4 
	text-white
	bg-dark/0
	hover:bg-dark/90
	transition-all
	duration-500
	ease-in-out
	;
}

.footerParticipant {
	@apply flex flex-col items-center gap-2
	min-w-40
	;
}

.footerParticipantLinks {
	@apply flex flex-row items-center justify-evenly gap-4
	;
}

.footerLogos {
	@apply max-h-10 max-w-10;
}

.footerLogoGithub {
	@apply group-hover:invert 
	transition-all
	duration-500
	ease-in-out
	;
}

/* #endregion footer */

/* #region ANIMATIONS */

@keyframes bgTransiBlur {
	0% {filter: blur(0);}
	50% {filter: blur(50px);}
	100% {filter: blur(0);}
}

/* #endregion ANIMATIONS */

/* #region customClasses */

.text-stroke-3 {
	-webkit-text-stroke-width: 3px;
}

.text-stroke-dark {
	-webkit-text-stroke-color: var(--color-dark);
}

.text-stroke-none {
	-webkit-text-stroke: 0px;
}

/* #endregion customClasses */

/* NOTES ACCOUNT


Onglets:
	- Infos: Info + images + stats de base + bouton modif
	- FriendList: invite/recv, connecte ou pas, inviter a jouer, aller au profile de l'ami?
	- Historique
	- Stats "poussees"

??
LVL
achievement 
*/