@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-prim: #22A8AA;
	--color-sec: #E196BB;
	--color-accent: #CDC5F6;
	--color-light: #BDD2CA;
	--color-dark: #0C0F38;
	--color-other: #dd5b5b;
}

.page {
	@apply grow min-h-full;
}


/* #region header */

.headerLayout {
	@apply	flex items-center content-center justify-center
			h-32 w-screen
			text-5xl text-white font-semibold italic font-geo;
}

/* #endregion header */

/* #region nav */

.navLayout {
	@apply flex flex-row justify-evenly
	p-4
	font-geo
	text-3xl
	text-dark/40
	font-light
	outline-none
	;
}

.navLinkLayout {
	@apply hover:underline
	hover:text-dark/100
	focus-visible:underline
	focus-visible:text-dark/100
	focus-visible:outline-none
	transition-all
	duration-300
	ease-in
	;
}

body:not(.loggedIn) #accountNavLink, body:not(.loggedIn) #logoutNavLink{
	display: none;
}


body.loggedIn #loginNavLink{
	display: none;
}

body.loggedIn #signupNavLink {
	display: none;
}

/* #endregion nav */

/* #region BODY */

/* #region main */

.mainLayout{
	@apply flex grow flex-col
	min-h-screen
}

/* #endregion main */

/* #region account */

#accountPage {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 2rem;
	gap: 4rem;

	/* background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%); */

	font-family: "Geo";
	color: white;
}

#accountPage h1 {
	font-size: 5rem;
}

#accountPage .accountBox {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 8fr 8fr;

	height: 50vh;
	max-height: 50vh;
	width: 50vw;
	max-width: 50vw;

	padding: 3rem;

	border-radius: 3rem;

	/* background: linear-gradient(to bottom, var(--color-dark) 15%, var(--color-prim)); */
	/* background-color: var(--color-dark); */
}

#accountPage .accountBox:hover {
	outline: 1px solid var(--color-accent);
	box-shadow: 0px -15px 50px var(--color-accent);
}

#accountBoxEditProfile {
	grid-row: 1/2;
	grid-column: 1/2;
}

#accountBoxInfo {
	grid-row: 1/3;
	grid-column: 2/3;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 4rem;

	font-size: xx-large;
	text-align: center;
}

#accountBoxProfilePic {
	grid-row: 1/2;
	grid-column: 3/4;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 1rem;

	overflow: hidden;
}

/* #accountBoxProfilePic img {

	max-width: 100%;
	max-height: 100%;
	width: 35%;
	height: 75%;
	object-fit: cover;
	object-position: center;

	border: solid 5px var(--color-accent);
	border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
} */

#accountBoxFriendList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: auto;
	height: auto;

	grid-row: 2/3;
	grid-column: 3/4;

	gap: 1rem;

	text-align: center;

	border: solid 3px var(--color-light);
	border-radius: 5rem;
	/* box-shadow: 0px 0px 50px var(--color-accent); */
}

#accountFriendList {
	outline: solid 5px red;
}

/* #endregion account */

/* #region game */
/* #endregion game */

/* #region home */

#homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 5rem;

	/* background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%); */
}

#homePageSteleInfo {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 10fr;

	height: 50vh;
	width: 13vw;
	padding: 2rem;
	gap: 2rem;

	border-radius: 5%;
	border-bottom-right-radius: 15%;
	border: none;




	background: linear-gradient(to bottom, var(--color-dark) 15%, var(--color-prim));

	font-family: "Geo";
	color: var(--color-light);
}

#homePageSteleInfo:hover {
	outline: 1px solid var(--color-accent);
	box-shadow: 0px -15px 50px var(--color-accent);
	color: white;
}

#homePageSteleInfo h1 {
	text-align: center;
	grid-column: 1/3;
	grid-row: 1/2;
}

#homePageSteleInfo p {
	grid-row: 2/3;
	font-size: 0.9em;
}

#homePageSteleInfoText {
	grid-column: 1/2;
	grid-row: 2/3;
	text-align: left;
}

#homePageSteleInfoGlyphs {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: right;
}

/* #endregion home */

/* #region logout */

#logoutPage {
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: "Geo";
	font-size: 5rem;
	color: var(--color-dark);
}

#logoutPage b {
	color: white;
}
/* #endregion logout */

/* #region tournament */
/* #endregion tournament */

/* #endregion BODY */

/* #region footer */

.footerLayout {
	@apply flex flex-col items-center justify-center
	p-4 
	text-white
	bg-dark/0
	hover:bg-dark/90
	transition-all
	duration-500
	ease-in-out
	;
}

.footerParticipant {
	@apply flex flex-col items-center gap-2
	min-w-40
	;
}

.footerParticipantLinks {
	@apply flex flex-row items-center justify-evenly gap-4
	;
}

/* #endregion footer */

/* #region ANIMATIONS */

@keyframes bgTransiBlur {
	0% {blur: blur(0)};
	50% {blur: blur(50px)};
	100% {blur: blur(0)};
}

/* #endregion ANIMATIONS */