@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-prim: #22A8AA;
	--color-sec: #E196BB;
	--color-accent: #CDC5F6;
	--color-light: #BDD2CA;
	--color-dark: #0C0F38;
	--color-other: #dd5b5b;
}

.page {
	@apply flex grow h-full;
}


/* #region header */

.headerLayout {
	@apply	flex items-center content-center justify-center
			h-32 w-full
			text-5xl text-white font-semibold italic font-geo;
}

/* #endregion header */

/* #region nav */

.navLayout {
	@apply flex flex-row justify-evenly
	h-20
	p-4
	font-geo
	text-3xl
	text-dark/40
	font-light
	outline-none
	;
}

.navLinkLayout {
	@apply hover:underline
	hover:text-dark/100
	focus-visible:underline
	focus-visible:text-dark/100
	focus-visible:outline-none
	transition-all
	duration-300
	ease-in
	;
}

body:not(.loggedIn) #accountNavLink, body:not(.loggedIn) #logoutNavLink{
	display: none;
}


body.loggedIn #loginNavLink{
	display: none;
}

body.loggedIn #signupNavLink {
	display: none;
}

/* #endregion nav */

/* #region BODY */

/* #region main */

.mainLayout{
	@apply flex grow flex-col
	h-[calc(100vh-8rem-5rem)]
	/* Ajouter du responsive */
}

/* #endregion main */

/* #region account */

.accountLayout {
	@apply flex flex-col items-center gap-16

	h-full
	p-8

	font-geo 
	;
}

.accountBoxLayout {
	display: grid;
	grid-template-columns: 19fr 1fr;
	
	@apply h-4/5 w-3/5

	rounded-3xl
	
	;
}

/* #region Tabs *******************************************/

.accountBoxTabDiv{
	@apply col-start-2 col-end-3 row-start-1 row-end-2

	flex flex-col items-end justify-around

	h-full w-full

	rounded-r-3xl
	;
}

.accountBoxTabItems {
	@apply flex items-center justify-center
	h-full w-full
	text-white text-lg
	bg-dark bg-opacity-60
	transition-all duration-500 ease-in-out
	hover:outline hover:-outline-offset-[3px]
	;
}

.accountBoxTabItems.active {
	@apply bg-opacity-80 
	;
}
.accountBoxTabButtons {
	@apply h-full w-full

	;
}

/* #endregion Tabs ****************************************/

/* #region Stats ******************************************/

.statsLayout {
	@apply col-start-1 col-end-2 row-start-1 row-end-2

	rounded-l-3xl

	h-full

	flex flex-col items-center justify-center

	text-white text-6xl

	bg-dark bg-opacity-80
	;
}

/* #endregion Stats ***************************************/

/* #endregion account */

/* #region game */
/* #endregion game */

/* #region home */

#homePage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 5rem;

	/* background: radial-gradient(ellipse 150% 95% at center bottom, var(--color-light) 0% 20%, var(--color-sec) 90%, var(--color-prim) 100%); */
}

#homePageSteleInfo {

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 10fr;

	height: 50vh;
	width: 13vw;
	padding: 2rem;
	gap: 2rem;

	border-radius: 5%;
	border-bottom-right-radius: 15%;
	border: none;




	background: linear-gradient(to bottom, var(--color-dark) 15%, var(--color-prim));

	font-family: "Geo";
	color: var(--color-light);
}

#homePageSteleInfo:hover {
	outline: 1px solid var(--color-accent);
	box-shadow: 0px -15px 50px var(--color-accent);
	color: white;
}

#homePageSteleInfo h1 {
	text-align: center;
	grid-column: 1/3;
	grid-row: 1/2;
}

#homePageSteleInfo p {
	grid-row: 2/3;
	font-size: 0.9em;
}

#homePageSteleInfoText {
	grid-column: 1/2;
	grid-row: 2/3;
	text-align: left;
}

#homePageSteleInfoGlyphs {
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: right;
}

/* #endregion home */

/* #region logout */

.logoutLayout {
	@apply page 
	flex items-center justify-center
	font-geo
	text-[14rem]
}

/* #endregion logout */

/* #region tournament */
/* #endregion tournament */

/* #endregion BODY */

/* #region footer */

.footerLayout {
	@apply flex flex-col items-center justify-center
	p-4 
	text-white
	bg-dark/0
	hover:bg-dark/90
	transition-all
	duration-500
	ease-in-out
	;
}

.footerParticipant {
	@apply flex flex-col items-center gap-2
	min-w-40
	;
}

.footerParticipantLinks {
	@apply flex flex-row items-center justify-evenly gap-4
	;
}

.footerLogos {
	@apply max-h-10 max-w-10;
}

.footerLogoGithub {
	@apply group-hover:invert 
	transition-all
	duration-500
	ease-in-out
	;
}

/* #endregion footer */

/* #region ANIMATIONS */

@keyframes bgTransiBlur {
	0% {filter: blur(0);}
	50% {filter: blur(50px);}
	100% {filter: blur(0);}
}

/* #endregion ANIMATIONS */

/* #region customClasses */

.text-stroke-3 {
	-webkit-text-stroke-width: 3px;
}

.text-stroke-dark {
	-webkit-text-stroke-color: var(--color-dark);
}

.text-stroke-none {
	-webkit-text-stroke: 0px;
}

/* #endregion customClasses */

/* PAS TRES PROPRE MAAAAAAAIS BON */

.hidden {
	display: none !important;
}
